.container {
	max-width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 10px;
}

.loader {
	position: absolute;
	background-color: #ff0000;
	height: 3px;
	top: 0;
	left: 0;
}

.container ul {
	padding-left: 0;
}

.conatiner li {
	list-style-type: none;
	padding: 10px;
	text-decoration: none;
}
